body {
  font-family: sans-serif;
  font-weight: 300;
  overflow-x: hidden;
}

article {
  margin: 0 auto;
  max-width: 800px;
  padding: 1em;
}

h1 {
  font-family: 'Fira Sans';
  font-size: 40px;
  margin-bottom: 0;
}

p, li {
  font-family: 'Fira Sans';
  font-size: 24px;
  padding: 0 1em;
  font-weight: 300;
}

ul {
  margin-left: 2em;
}

.extra-point {
  list-style-type: none;
  padding-left: 0;
  margin-left: -25px;
}

.author-desc {
  margin: auto;
  width: 100%;
  text-align: center;
}

#logo {
  margin-right: 0.5em;
}

.header {
  text-align: right;
  margin-bottom: 4em;
}

.rub {
  font-family: 'ALSRubl-Arial', Arial, sans-serif;
}

.summary {
  font-size: 16px;
  margin: 0;
}

.not-possible {
    position: relative;
}
.not-possible::after {
    border-bottom: 2px solid black;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 50%;
}

a {
  border-bottom: solid 1px blue;
  text-decoration: none;
  display: inline-block;
  height: 1.3em;
}

@media (max-width: 640px) {
  p, li {
    padding: 0;
    font-size: 18px;
  }

  ul {
    margin-left: 0;
  }

  #logo {
    display: none;
  }
}
